.searchbar-wrapper {
    height: 50px;
    margin-top: 50px;
    width: 50vw;
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

.search-input {
    background: white;
    box-sizing: border-box;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    height: inherit;
    display: block;
    outline: none;
    border:none;
    padding: 0 20px 0 20px;
    border-radius: 5px;
    color: grey;
    font-size: 1em;
}

.search-result-wrapper {
    background: white;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    position: absolute;
    top: 45px;
    border-radius: 0 0 5px 5px;
}

.search-result-list {
    list-style: none;
    color: grey;
    margin:0px;
    cursor: default;
    padding: 0;
}

.search-result-item {
    padding-left: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-result-item:hover {
    background: rgb(247, 247, 247);
}


#clearSearch {
    color: grey;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right:0;
}

#clearSearch:hover {
    cursor:default;
}