.forecast-header {
  height: 30vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(146, 163, 25, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.forecast-header h2 {
    color:white;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-weight: 600;
}
