.App {
    background: rgb(236, 234, 234);
    height: 100vh;
    overflow-y: auto;
}

.weather-cards {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    margin-top: 50px;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 1500px) {

    .weather-cards
    {
        padding-left: 0vw;
        padding-right: 0vw;
    }
}

@media screen and (max-width: 1200px) {

    .weather-cards
    {
        flex-wrap: wrap;
    }
}